* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1220px;
    margin: 0 auto;
}

.header01 {
    padding: 80px 0;
}

.header01 .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header01 nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    text-decoration: none;
    list-style: none;
}

.header01 nav ul li a {
    text-decoration: none;
    color: black;
    list-style: none;
    font-size: 15.13px;
    font-weight: 400;
    transition: 1s;
    line-height: 24px;
}

.header01 nav ul li a:hover {
    color: red;
    font-size: 25px;
}

.btn {
    width: 256px;
    height: 36px;
    top: 17px;
    left: 218px;
    gap: 0px;
    border-radius: 12px;
    opacity: 0px;
    font-family: Inter;
    font-size: 14.75px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: black;
    transition: 1s;
    background: inherit;
    border: 1px solid black;
}

.btn:hover {
    background-color: #FC004A;
    color: white;
    border: none;
}

.bola-card1 h4 {
    font-size: 17.66px;
    font-weight: 700;
    line-height: 28px;
    margin-left: 12px;
}

.bola-card1 h5 {
    font-size: 18.28px;
    font-weight: 500;
    line-height: 28px;
    margin-left: 12px;
    color: #FC004A;
}

.bola-card1 {
    width: 235px;
    height: 391px;
    top: 576px;
    left: 24px;
    gap: 0px;
    border-radius: 15px;
    box-shadow: 0px 4px 6px -4px #0000001A;
    box-shadow: 0px 10px 15px -3px #0000001A;

}

.mini-box {
    width: 40px;
    height: 40px;
    top: 339px;
    left: 183px;
    gap: 0px;
    border-radius: 12px;
    opacity: 0px;
    border: 1px solid black;
    transition: 1s;
}

.menu-btn {
    width: 48px;
    height: 48px;
    top: 15px;
    left: 326px;
    gap: 0px;
    border-radius: 8px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    background: inherit;
    display: none;
}
.img0990{
    width: 100%;
    border-radius: 20px;
}
.ota-cards{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
}
.mini-box:hover{
    background-color: #FC004A;
    color: white;

}


@media(max-width:621px){
    .ota-cards{
        display: flex;
        align-items: center;
        justify-content: center;

    }
}





@media(max-width:768px) {
    .header01 img {
        display: none;
    }

    .header01 {
        padding: 24px 10px;
    }


}
@media(max-width:621px){
    nav{
        display: none;
    }
    .menu-btn{
        display: block;
    }
}